<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" *ngIf="LoggedStorageData.hospitalId != 0">Appointment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="LoggedStorageData.hospitalId != 0">Patient</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Link</a>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-light" type="button" *ngIf="LoggedStorageData.hospitalId != 0" >{{LoggedStorageData.hospitalEmailId}}</button>
                <button class="btn btn-success" type="button" (click)="logoff()" *ngIf="LoggedStorageData.hospitalId != 0">Log-off</button>
                <button class="btn btn-primary" type="button" (click)="ShowLogin()" *ngIf="LoggedStorageData.hospitalId == 0">Login</button>
            </form>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>


<!-- Button to Open the Modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Open modal
</button> -->
<div class="modal" id="loginmodel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
                <button type="button" class="btn-close" (click)="CloseLogin()" data-bs-dismiss="modal" ></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-12">
                        <label for="">User name</label>
                        <input type="text" [(ngModel)]="userObj.userName" class="form-control">
                    </div>
                    <div class="col-12">
                        <label for="">Password</label>
                        <input type="password" name="" id="" class="form-control" [(ngModel)]="userObj.password">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="CloseLogin()" data-bs-dismiss="modal" >Close</button>
                <button type="button" class="btn btn-danger" (click)="onLogin()" data-bs-dismiss="modal" >Login</button>
            </div>

        </div>
    </div>
</div>